@import '../../style/vars';

#expense-form {
  background-color: $tertiary;
  margin: 1em;
  border: solid;
  border-width: 1px;
  border-radius: $border-radius;
  border-color: $border-color;
  text-align: left;
  font-family: $form-font;

  input {
    margin-left: 1em;
    background-color: $secondary;
  }

  button {
    margin-right: 5%;
  }

}